<div class="container">
    <div class="row mt-5">
        <div class="col text-center border">
            <h2 class="text-danger">Endereço</h2>
            <p>Endereço: Rod. Brigadeiro Faria Lima - SP227 - Km 359,6 </p>
            <p>Caixa Postal 07 - Zona Rural</p>
            <p>CEP: 14720-000 - Taiúva - SP</p>
            <p>Telefone: (16) 3247-6263/6262</p>

        </div>
    </div>
</div>

<!--SCRIPTS-->
<script src="../assets/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/25a70966d7.js" crossorigin="anonymous"></script>
