<div class="row">
    <div class="col text-center p-5">
        <h2>footer</h2>
    </div>
</div>
<!--SCRIPTS-->
<script src="../assets/bootstrap.js"></script>


<!--CLOSURE BODY AND HTML-->
</body>

</html>
