<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/img/bandeira-do-estado-de-sao-paulo-2-300x200.png"
                class="float-start img-fluid" width="100" alt="...">
        </a>
        <h2 class="text-secondary">Centro de Detencão Provisória de Taiúva</h2>
    </div>
</nav>
