<nav class="container-fluid navbar-dark bg-dark">
    <div class="row justify-content-center align-items-center">
        <div class="col m-0 p-0">
        <h2 class="text-white text-center p-3 m-0">
            Centro de Detencão Provisória de Taiúva
        </h2>
        </div>
    </div>
</nav>
