<div class="row">
    <div class="col border-right">
        <ul id="menu" class="">
            <li class="border-bottom">
                <i class="align-middle material-icons-outlined text-warning">credit_score</i>
                <span class="ps-3"> <a href="">Status Carteirinha</a></span>
            </li>
            <li>
                <i class="align-middle material-icons-outlined text-info">people_alt</i>
                <span class="ps-3">Rol de Visitas</span>
                <ul class="ps-sm-3 border-bottom">
                    <li>
                        <i class="text-color1 align-middle material-icons-outlined ps-4">description</i>
                        <span class="ps-sm-3"> <a href="">Documentação</a> </span>
                    </li>
                    <li>
                        <i class="text-color2 align-middle material-icons-outlined ps-4">today</i>
                        <span class="ps-sm-3 "><a href="">Dias de Visita</a></span>
                    </li>
                    <li>
                        <i class="text-color3 align-middle material-icons-outlined ps-4">checkroom</i>
                        <span class="ps-sm-3 "><a href="">Vestimenta</a></span>
                    </li>
                </ul>
            </li>
            <li class="border-bottom">
                <i class="align-middle material-icons-outlined text-danger">list</i>
                <span class="ps-3"><a href="">Lista de Sedex</a></span>
            </li>
            <li class="border-bottom">
                <i class="align-middle material-icons-outlined text-success">fact_check</i>
                <span class="ps-3"><a href="">Modelos Documentos</a></span>
            </li>
            <li class="border-bottom">
                <i class="align-middle material-icons-outlined">question_answer</i>
                <span class="ps-3"><a href="">Perguntas Frequentes</a></span>
            </li>
            <li>
                <i class="align-middle material-icons-outlined text-warning">phone_in_talk</i>
                <span class="ps-3"><a href="">Contato</a></span>
            </li>
        </ul>
    </div>
</div>
