<div class="row">
    <div class="col">
        <ul>
            <li>Consultar Status</li>
            <li>Peculio</li>
            <li>Sedex</li>
            <li>Segurança</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="/user">login</a>
    </div>
</div>
