<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" class="float-start img-fluid" width="140"
                alt="Taiúva">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="align-middle material-icons-outlined text-dark">home</i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Rol de Visitas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">
                                <i class="color-i1 align-middle material-icons-outlined">description</i>
                                Documentação
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/visitapresencial">
                                <i class="color-i2 align-middle material-icons-outlined">directions_walk</i>
                                Visitação Presencial
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/vestuario">
                                <i class="color-i3 align-middle material-icons-outlined">dry_cleaning</i>
                                Vestuário do Visitante
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/sedex">
                                <i class="color-i4 align-middle material-icons-outlined">format_list_bulleted</i>
                                Lista de Sedex (Jumbo)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/valepostal">
                                <i class="color-i5 align-middle material-icons-outlined">attach_money</i>
                                Vale Postal
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/auxreclusao">
                                <i class="color-i6 align-middle material-icons-outlined">paid</i>
                                Auxilio Reclusão
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/mascara">
                                <i class="color-i8 align-middle material-icons-outlined">masks</i>
                                Uso de Máscara
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Advogados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/advatendimento">
                                <i class="color-i7 align-middle material-icons-outlined">schedule</i>
                                Agendar Atendimentos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/advtrabalhoeducacao">
                                <i class="color-i9 align-middle material-icons-outlined">school</i>
                                Atestado de Trabalho/Educação
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/auxreclusao">
                                <i class="color-i6 align-middle material-icons-outlined">paid</i>
                                Auxilio Reclusão
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/advpermcarceraria">
                                <i class="color-i11 align-middle material-icons-outlined">lock_open</i>
                                Atestado de Permanencia Carcerária
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/mascara">
                                <i class="color-i8 align-middle material-icons-outlined">masks</i>
                                Uso de Máscara
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item ">
                    <a class="nav-link " href="/oficial">
                        Oficial de Justiça
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Orientações
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="color-i13 align-middle material-icons-outlined">fact_check</i>
                                Modelo de Documentos
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="http://www.sap.sp.gov.br/ouvidoria/ouvidoria-faq.html#top">
                                <i class="align-middle material-icons-outlined text-danger">question_answer</i>
                                Perguntas Frequentes
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
<% if (!locals.visitor) { %>
    <div class="row justify-content-center align-items-center m-0 p-0">
        <div class="col text-center mt-2 p-0">
            <span class="font-size-07 text-danger">Consultar Cadastro do Rol de Visitas</span>
        </div>
    </div>
    <% } %>
<div class="container-fluid">
    <form action="/visitas/status" method="POST">
        <div class="row pb-2">
            <div class="col text-warning p-0 ps-sm-2 pe-sm-2 text-center text-sm-end pt-2">
                <label class="col-form-label border rounded p-2" for="">CPF</label>
            </div>
            <div class="col-6 col-sm-4 col-md-3 p-0 pt-2">
                <input class="form-control" name="cpf" type="number" placeholder="CPF sem pontos e hífen" aria-label="Status">
            </div>
            <div class="col p-0 ps-2 pe-2 text-end text-sm-start pt-2 text-center-310">
                <button class="me-0 btn btn-outline-success" type="submit">Consultar</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-auto">
            <% if (locals.messages) { %>
                <h6 class="text-center alert alert-warning">
                    <span class="text-center text-dark"><%= messages %></span>
                </h6>
                <% } %>
        </div>
    </div>

</div>
