<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Agendar Atendimento com Reeducandos</h4>

        <h5 class="fw-bold">Atendimentos Presenciais</h5>
        <p>
            Para solicitações de atendimentos presenciais, entrar em contato com o Setor de Portaria
            através do telefone: (16) 3247 6261
        </p>



        <h5 class="fw-bold border-top pt-3">Atendimentos Virtuais</h5>
        <h6 class="text-primary">Microsoft Teams</h6>
        <p>
            As solicitações de Atendimentos Virtuais, devem ser endereçadas para o e-mail:

        </p>

        <h4 class="text-success mt-5">
            <span class="material-icons-outlined align-middle pe-2">
                forward_to_inbox
            </span>
            <a class="text-success" href="mailto:cdptaiuva@sp.gov.br">cdptaiuva@sp.gov.br</a>

        </h4>
        <div class="border border-danger p-3 mt-5">
            <p>Observações: Em todas as solicitações informar o nome
                completo do detento e a matrícula.</p>
            <p>Caso não saiba a matrícula informar outro dado (RG p. ex.)
                para identificação.
            </p>
        </div>
    </div>

</div>
