<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Advogados(as)</h4>
        <div>
            <h5 class="fw-bold">Atendimentos Presenciais</h5>
            <p>
            Para solicitações de Atendimentos Presenciais, entrar em contato com o Setor de Portaria
            através do telefone: (16) 3247 6261
            </p>
        </div>

        <div>
            <h5 class="fw-bold">Atendimentos Virtuais</h5>
            <h6 class="text-info">Microsoft Teams</h6>
            <p>
                As solicitações de Atendimentos Virtuais, devem ser endereçadas para o e-mail:
                dg@cdptaiuva.sap.sp.gov.br
            </p>
        </div>

        <div>
            <h5 class="fw-bold">Colheita de Assinaturas</h5>
            <p>
                As solicitações de "Coleta" de assinaturas em documentos (Procurações p. ex.), devem ser
                endereçadas para o e-mail:
                dg@cdptaiuva.sap.sp.gov.br
            </p>
        </div>


    </div>

</div>

<div class="row p-1 pb-2 border-top ">
    <div class="col p-2">
        <h4 class="fw-bold mb-4 text-center">Solicitação de Documentos</h4>

        <div>
            <h5 class="fw-bold">Boletins Informativos e/ou Atestados de Comportamento Carcerário</h5>
            <p>
                As solicitações de Boletins Informativos e de Comportamento Carcerário, devem ser endereçadas para o e-mail:

                dg@cdptaiuva.sap.sp.gov.br
            </p>
        </div>

        <div>
            <h5 class="fw-bold">Atestados de Trabalho e de Educação / Certificados de Cursos</h5>
            <p>
                As solicitações de Atestado de Trabalho e de Educação, bem como de participação em cursos, devem ser endereçadas para o
                e-mail:

                dg@cdptaiuva.sap.sp.gov.br
            </p>
        </div>
        <div class="border border-warning p-2 align-items-center justify-content-center">
            <p class="p-0 m-0">
                Em qualquer dos casos acima, o pedido pode ser feito no próprio corpo do E-mail, mas é necessário anexar cópia da
                Procuração.
            </p>
        </div>

    </div>
</div>

<div class="row p-2 pb-2">
    <div class="col border border-danger p-2">
        <h5 class="fw-bold">Observações</h5>
        <p>
            Em todas as solicitações, informar o nome completo do detento e a matrícula.
        </p>
        <p>
            Caso não saiba a matrícula, favor informar outro dado (RG p. ex.) para identificação do mesmo.
        </p>
        <p>
            <strong>Importante:</strong> Caso ainda não tenha "Cadastro" nesta Unidade, favor informar os seguintes dados:
        </p>
        <ul class="ms-4" style="list-style-type:square">
            <li>Nome Completo</li>
            <li>CPF</li>
            <li>RG</li>
            <li>Estado Expedidor</li>
            <li>Orgão Emissor</li>
            <li>Data de Nascimento</li>
            <li>Sexo</li>
            <li>Cidade de Origem</li>
            <li>Endereço Profissional Completo</li>
            <li>Nº de Inscrição na OAB</li>
        </ul>
    </div>
</div>

        <h4 class="fw-bold text-center mb-3 text-danger">verificar infos</h4>

