<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Atestados de Permanência Carcerária</h4>
        <p>
            A Certidão de Permanência Carcerária é documento comprobatório da
            prisão da pessoa presa e necessário para instruir o pedido de auxílio reclusão.
        </p>
        <p>
            Conforme os termos de Cooperação Técnica firmado entre o INSS e a SAP a solicitação
            deve ser feita:
        </p>
        <p>
            1 - Pelo próprio INSS (a pessoa vai até a agência do INSS e solicita o atestado para a SAP
            através do sistema GEPEN)
        </p>
        <p>
            2 - Pelo(a) visitante ou pelo advogado diretamente na unidade prisional em que está preso
        </p>
        <h5 class="text-success mt-2">
            <span class="material-icons-outlined align-middle pe-2">
                forward_to_inbox
            </span>
            <a class="text-success" href="mailto:dg@cdptaiuva.sap.sp.gov.br">dg@cdptaiuva.sap.sp.gov.br</a>
        </h5>
    </div>
</div>
