<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Atestados de Trabalho e Educação</h4>

        <h5 class="fw-bold mb-4">Solicitação</h5>
        <p>
            1 - Separe a procuração do referido reeducando assinada.
            (Caso não possua assinada, coletamos a assinatura e enviamos junto com
            o atestado pronto)
        </p>
        <p>
            2 - Enviar a solicitação do atestado junto com a procuração para o email:
        </p>
        <h5 class="text-success mt-2">
            <span class="material-icons-outlined align-middle pe-2">
                forward_to_inbox
            </span>
            <a class="text-success" href="mailto:dg@cdptaiuva.sap.sp.gov.br">dg@cdptaiuva.sap.sp.gov.br</a>
        </h5>
        <p>
            3 - Aguarde ser respondido pelo setor responsável em até 10 dias úteis.
        </p>
        <div class="border border-danger p-4 mt-5">
            <p class="p-0 m-0">
                Observações: Atestados referente a passagem do reeducando em outras unidades,
                deverão ser solicitados diretamente a unidade responsável. Consulte o site da
                <a target="_blank" href="http://www.sap.sp.gov.br">SAP</a> para verificar o
                e-mail da unidade.
            </p>

        </div>
    </div>

</div>
