<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Auxílio Reclusão</h4>

        <h5>Como pode ser peticionado</h5>
        <p> <span class="fw-bold">Advogado Constituído:</span> por email, anexando a procuração
            assinada pelo detento.
        </p>
        <p> <span class="fw-bold">Familiar:</span> através do CRAS, Conselho Tutelar ou Caef (Centro de
            Atendimento ao Egresso e Família).
        </p>

        <h4 class="text-success">
            <span class="material-icons-outlined align-middle pe-2">
                forward_to_inbox
            </span>
            dg@cdptaiuva.sap.sp.gov.br
        </h4>
    </div>

</div>
