<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col align-items-center text-center">
        <h4 class="fw-bold text-center mb-3 mt-2">Uso de Máscara</h4>

        <p>Acesse o link abaixo para maiores informações sobre o
            procedimento de uso de máscara:
        </p>

        <a target="_blank" href="https://www.saopaulo.sp.gov.br/coronavirus/mascaras/">
            <span style="font-size: 5em" class="material-icons-outlined color-p1c5">
                masks
            </span>
        </a>
        <h4 class="text-dark">
            <a target="_blank" href="https://www.saopaulo.sp.gov.br/coronavirus/mascaras/">
                Máscara
            </a>
        </h4>
    </div>

</div>
