<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Oficiais de Justiça</h4>
        <div>
            <h5 class="fw-bold">Atendimentos Virtuais</h5>
            <h6 class="text-primary">Microsoft Teams</h6>
            <p>
                As solicitações de Atendimentos Virtuais,
                devem ser endereçadas para o e-mail:
            </p>
            <h4 class="text-success">
                <span class="material-icons-outlined align-middle pe-2">
                    forward_to_inbox
                </span>
                <a class="text-success" href="mailto:cdptaiuva@sp.gov.br">cdptaiuva@sp.gov.br</a>
            </h4>
        </div>
    </div>
</div>
