<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h4 class="fw-bold text-center mb-3 mt-2">Oficiais de Justiça</h4>
        <div>
            <h5 class="fw-bold">Atendimentos Presenciais</h5>
            <p>
                Para solicitações de Atendimentos Presenciais, entrar em contato com o Setor de Portaria
                através do telefone: (16) 3247 6261
            </p>
        </div>

        <div>
            <h5 class="fw-bold">Atendimentos Virtuais</h5>
            <h6 class="text-info">Microsoft Teams</h6>
            <p>
                As solicitações de Atendimentos Virtuais, devem ser endereçadas para o e-mail:
                ??@cdptaiuva.sap.sp.gov.br
            </p>
        </div>




    </div>

</div>
