<div class="row justify-content-center align-items-center p-2 my-2 border-top border-dark">
    <div class="col  text-center ">
        <h4 class="fw-bold">Documentação Rol de Visitas</h4>
    </div>
</div>
<div class="row ">
    <div class="col-12 col-lg-6  p-2">
        <h5 class="ps-1 fw-bold">Envio</h5>
        <p class="ps-1">Envio apenas pelos correios.</p>

        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col-12 col-sm-3 fw-bold">Destinatário:</div>
            <div class="col"><p>Centro de Detenção Provisória de Taiúva</p></div>
        </div>
        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col-12 col-sm-3 fw-bold">Endereço:</div>
            <div class="col">
                <p>
                    Estrada Municipal de Taiúva, 227 -
                    (Rodovia Brigadeiro Faria Lima, KM 359 + 600 metros)
                </p>
            </div>
        </div>
        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col-4 col-sm-3 fw-bold">Bairro:</div>
            <div class="col "><p>Zona Rural</p></div>
        </div>
        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col-4 col-sm-3 fw-bold">Cidade:</div>
            <div class="col"><p>Taiúva - SP</p></div>
        </div>
        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col-4 col-sm-3 fw-bold">C. Postal:</div>
            <div class="col"><p>07</p></div>
        </div>
        <div class="row border border-bottom-0 mx-1 border-primary">
            <div class="col fw-bold">Nome Completo do Reeducando</div>
        </div>
        <div class="row border mx-1 border-primary">
            <div class="col fw-bold">Matrícula</div>
        </div>

        <div class="row m-1 mt-3 border border-danger">
            <div class="col m-1 mt-2">
                <h5 class="fw-bold">Observações</h5>
                <p>
                    Sujeito a devolução se não informar os dados corretamente acima citado na correspondência e se a referida pesssoa
                    não constar no Rol de Visitas do detento.
                </p>
                <p>
                    Poderemos analisar a documentação a qualquer momento, ficando sujeito a mudança de STATUS.
                    Após a chegada da documentação e verificação dos mesmos, caso os documentos estiverem todos corretos o prazo será de
                    no
                    máximo 10 (dez) dias para confecção da Carteirinha e Ativação no Rol de Visitas do referido detento.
                </p>
            </div>
        </div>
    </div>

    <div class="col border-start p-2">
        <h5 class="fw-bold">Documentos</h5>

        <ul>
            <li>
                I – Cópia autenticada da carteira de identidade (RG) e do cadastro de pessoa física (CPF).
            </li>
            <li>
                II – Documento comprovando o grau de parentesco ou relação com o preso. Obs.: somente para Avós e Avôs.
            </li>
            <li>
                III – Certidão de antecedentes criminais do município apontado como de residência (tirar no Site da Policia Civil).
            </li>
            <li>
                IV – Cópia do comprovante de endereço de no Maximo 60 (sessenta dias) da emissão, ou conta de água, luz, gás ou telefone
                fixo, acompanhada de declaração particular com firma reconhecida quando a conta não estiver em nome do visitante.
            </li>
            <li>
                V- 02 (duas) fotos 3x4 recentes e iguais. OBS: Todas as cópias deverão ser autenticadas exceto a Certidão de
                antecedentes criminais.
            </li>
            <li>
                VI – Após a carteirinha ser ativada, entregar a cada um ano o comprovante de endereço e o atestado de antecedentes
                criminal, para atualização do cadastro do visitante.
            </li>
        </ul>

        <p>Caso o visitante tenha ou já teve pendências de ordem criminal, será necessário o encaminhamento da Certidão de Objeto e
        pé.</p>

        <h5 class="border-top pt-2 fw-bold">ATUALIZAÇÃO DE ROL</h5>

        <ul>
            <li>
                I - Atestado de Antecedentes Criminais, expedido pela Policia Civil do mesmo Estado de expedição de RG e residência -
                <a target="_blank" href="http://www.ssp.sp.gov.br/servicos/atestado.aspx">Link Atestado</a>
            </li>
            <li>
                II - Cópia autenticada atual do comprovante de residência em nome do visitante (ou declaração de endereço junto com o
                comprovante em caso do mesmo estar em nome de terceiros)
            </li>
        </ul>

        <p>
        *Os documentos devem ser renovados a cada 365 (trezentos e sessenta e cinco dias).**
        </p>
    </div>
</div>
