<div class="row">
    <div class="col">
        <h1>Lista do Sedex</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Items</h3>
    </div>
    <div class="col">
        <h3>Quantidade</h3>
    </div>
</div>

<div class="row border border-success align-items-center mb-3">
    <div class="col-12 col-sm-10 pt-4">
        <h5>Produtos</h5>
    </div>
    <div class="col pt-4">
        <h5>Máximo Semanal</h5>
    </div>

    <div class="col-12 col-sm-10 border">
        3 – Balas industrializadas sem álcool, em embalagem transparente. Tipo Soft (proibido: goma)
    </div>
    <div class="col border fw-bold">
        500 gramas
    </div>

    <div class="col-12 col-sm-10 border">
        4– Bolachas industrializadas sem recheio (proibido: tipo wafer).
    </div>
    <div class="col border fw-bold">
        500 gramas
    </div>

    <div class="col-12 col-sm-10 border">
        5– Bolos industrializados fatiados (tipo Pullman ou similar sem recheio ou gotas).
    </div>
    <div class="col border fw-bold">
        500 gramas
    </div>

    <div class="col-12 col-sm-10 border">
        6 – Chocolates em barra ao leite ou tabletes de doces industrializados, cortados e em embalagem transparente.
        (tipo
        paçoca) proibido paçoca rolha.
    </div>
    <div class="col border fw-bold">
        500 gramas
    </div>

    <div class="col-12 col-sm-10 border">
        7– Leite em pó em (embalagem transparente e original).
    </div>
    <div class="col border fw-bold">
        500 gramas
    </div>
</div>


<div class="row border border-success mb-3">
    <div class="col-12 col-sm-10  mt-4">
        <h5>Objetos de Higiene Pessoal e Limpeza</h5>
    </div>
    <div class="col mt-4">
        <h5>Máximo Semanal</h5>
    </div>

    <div class="col-12 col-sm-10 border">
        8– Creme dental 90 gr. Nota: proibido laminado.
    </div>
    <div class="col border fw-bold">
        02 tubos de 90 gramas
    </div>

    <div class="col-12 col-sm-10 border">
        9– Creme de barbear 90 gr. Nota: proibido laminado.
    </div>
    <div class="col border fw-bold">
        01 tubo
    </div>

    <div class="col-12 col-sm-10 border">
        10 – Desodorantes (roll-on) sem álcool, em embalagem transparente.
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        11– Escova dental simples.
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        12- Desinfetante “tipo veja” lavanda – Produto e embalagem transparentes
    </div>
    <div class="col border fw-bold">
        500 ml
    </div>

    <div class="col-12 col-sm-10 border">
        13 – Sabão em pedra (somente verde e vermelho).
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        14– Sabão e liquido em embalagem transparente.
    </div>
    <div class="col border fw-bold">
        01 quilo
    </div>

    <div class="col-12 col-sm-10 border">
        15 – Sabonete 90 gr. (Somente vermelho, verde ou rosa).
    </div>
    <div class="col border fw-bold">
        06 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        16 – shampoo em embalagem e produto transparente (Proibido condicionador).
    </div>
    <div class="col border fw-bold">
        500 mililitros
    </div>

    <div class="col-12 col-sm-10 border">
        17 – Barbeadores descartáveis somente com duas lâminas, de cabo plástico vazado (Proibido tipo Sensor).
    </div>
    <div class="col border fw-bold">
        06 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        18– Cotonetes. Caixa pequena
    </div>
    <div class="col border fw-bold">
        01 caixa
    </div>

    <div class="col-12 col-sm-10 border">
        19- Isqueiro grande transparente (proibido elétrico e bic)
    </div>
    <div class="col border fw-bold">
        01 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        20 – Anticéptico Bucal, sem álcool, em embalagem transparente e 250 ml.
    </div>
    <div class="col border fw-bold">
        01 frasco
    </div>

    <div class="col-12 col-sm-10 border">
        21 – Escova de plástico para lavar roupa (proibido com alça, cores azul, amarelo, preto e de madeira).
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        22 – Bucha para banho simples. Nota: proibido bucha vegetal
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        23– Cortador de unha tipo trin pequeno sem lixa (Controlado pelo setor de inclusão).
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        24– Esponja para lavar utensílios.
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>
</div>

<div class="row border border-success mb-3">
    <div class="col-12 col-sm-10 mt-4">
        <h5>Objetos de Uso Próprio e Comum</h5>
    </div>
    <div class="col mt-4">
        <h5>Máximo Mensal</h5>
    </div>

    <div class="col-12 col-sm-10 border">
        25 – Espelho com moldura plástica nº 12 afixado na parede (Controlado pelo setor de inclusão).
    </div>
    <div class="col border fw-bold">
        01 por cela
    </div>

    <div class="col-12 col-sm-10 border">
        26 – Pente de bolso (plástico sem cabo).
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        27– Fotografias de familiares. (10x15) tanto quanto no jumbo ou sedex .
    </div>
    <div class="col border fw-bold">
        10 fotografias
    </div>
</div>

<div class="row border border-success mb-3">
    <div class="col-12 col-sm-10 mt-4">
        <h5>Materiais Escolares, Papelaria e Jogos</h5>
    </div>
    <div class="col mt-4">
        <h5>Máximo Mensal</h5>
    </div>

    <div class="col-12 col-sm-10 border">
        28 – Caneta esferográfica transparente “tipo bic” vermelha.
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        29 – Bloco de carta pautado ou brochura com 10 (dez) folhas.
    </div>
    <div class="col border fw-bold">
        01 unidade
    </div>

    <div class="col-12 col-sm-10 border">
        30– Selos postais.
    </div>
    <div class="col border fw-bold">
        10 tarifas simples
    </div>

    <div class="col-12 col-sm-10 border">
        31 – Dominó ou Dama (plástico)
    </div>
    <div class="col border fw-bold">
        01 por cela
    </div>
</div>

<div class="row border border-success mb-3">
    <div class="col-12 col-sm-10 mt-4">
        <h5>Vestuário e Roupa de Cama</h5>
    </div>
    <div class="col mt-4">
        <h5>Máximo Mensal</h5>
    </div>

    <div class="col-12 col-sm-10 border">
        32 – Tênis com solado comum, sem amortecedor tipo futebol de salão.
    </div>
    <div class="col border fw-bold">
        01 par
    </div>

    <div class="col-12 col-sm-10 border">
        33 – Sandálias tipo havaianas.
    </div>
    <div class="col border fw-bold">
        01 par
    </div>

    <div class="col-12 col-sm-10 border">
        34 – Lenço de bolso.
    </div>
    <div class="col border fw-bold">
        05 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        35– Lençóis brancos (de solteiro sem elástico).
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        36 – Cobertores tipo microfibra, sem barra e sem forro (proibidos edredom e dupla face).
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        37 – Toalha de banho (somente cor branca e sem estampa ou bordados.
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        38 – Bermudas somente caqui com elástico (proibido jeans) - sem estampa, sem bolso.
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        39– Blusas de frio (somente cor caqui, sem capuz, sem forro, sem zíper, sem bolso frontal e sem estampa).
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        40 – Calça padrão cáqui com elástico.
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        41 – Camisetas brancas (manga curta e gola redonda).
    </div>
    <div class="col border fw-bold">
        02 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        42 – Meias brancas
    </div>
    <div class="col border fw-bold">
        05 unidades
    </div>

    <div class="col-12 col-sm-10 border">
        43– Cuecas (proibido samba canção).
    </div>
    <div class="col border fw-bold">
        05 unidades
    </div>
</div>

<div class="row mb-5 border border-warning mb-3">
    <div class="col-12 mt-4">
        <h5>Remédios</h5>
    </div>
    <div class="col-12 border">
        Apenas com receituário medico e sujeitos ao controle do Centro/Núcleo de Atendimento à Saúde da Unidade.
    </div>
</div>
