<div class="row border-top border-dark p-1 mt-2">
    <div class="col">
        <h4 class="fw-bold">
            Depósito de Vale Postal - Via Correios
        </h4>
        <h5>Do Visitante para o detento</h5>

        <h6 class="mt-4">Observar as seguintes orientações:</h6>
        <ul>
            <li class="pt-2">
                I - O(a) Remetente deve estar devidamente cadastrada no Rol de Visitas do detento (observar a validade da
                documentação da Carteirinha de Visitante no campo “Observações”)
            </li>
            <li>
                II - Ir até uma Agência do Correios portando um documento com foto e CPF
            </li>
            <li>
                III - Informar os dados do detento que irá receber: nome completo, matrícula e número do CPF
            </li>
            <li>
                IV - Pagar as Taxas de Depósito e de Aviso de Envio cobradas pelo Correios e depositar o valor
            </li>
        </ul>
    </div>
</div>

<div class="row p-1 pb-3">
    <div class="col border border-danger pt-2">
        <p>Importante: O valor depositado mais (+) o saldo do detento na Unidade não poderá ultrapassar o valor de 01
            (um) salário mínimo (R$1.100,00).</p>
        <p>
            Observação: O valor referente ao vale postal depositado chega na Unidade Prisional
            em até sete dias úteis, pois depende dos correios a disponibilidade em caixa do valor
            depositado.
        </p>
    </div>
</div>

<div class="row p-1 pb-5">
    <div class="col border border-warning pt-2">
        <h5 class="fw-bolder">Retiradas de Valores e Documentos</h5>
        <h6>Realizado por meio de agendamento.</h6>
        <p>
            Para as retiradas de valores do pecúlio disponibilizados aos visitantes e assuntos
            sobre documentos pertencentes aos reeducandos e egressos, entrar em contato com o setor
            de pecúlio desta Unidade Prisional para agendar a retirada.
        </p>
    </div>
</div>

