<div class="row border-top border-dark p-1 mt-2">
    <div class="col">
        <h4 class="fw-bold">
            Depósito de Vale Postal - Via Correios
            (modificar texto - cp serra azul)
        </h4>
        <h5>Do Visitante para o detento</h5>

        <h6 class="mt-4">Observar as seguintes orientações:</h6>
        <ul>
            <li class="pt-2">
                I - O(a) Remetente deve estar devidamente cadastrada no Rol de Visitas do detento (observar a validade da
                documentação da Carteirinha de Visitante no campo “Observações”)
            </li>
            <li>
                II - Ir até uma Agência do Correios portando um documento com foto e CPF
            </li>
            <li>
                III - Informar os dados do detento que irá receber: nome completo, matrícula e número do CPF
            </li>
            <li>
                IV - Pagar as Taxas de Depósito e de Aviso de Envio cobradas pelo Correios e depositar o valor
            </li>
        </ul>
    </div>
</div>

<div class="row p-1 pb-5">
    <div class="col border border-danger pt-2">
        <p>Importante: O valor depositado mais (+) o Saldo do detento na Unidade não poderá ultrapassar o valor de 01
            (um) salário
            mínimo (R$1.100,00).</p>
        <p>
            Observação: após o "depósito" do valor nos Correios, os Correios remeterão à esta Unidade o Aviso de Envio
            de Vale
            Postal, e somente após esta comunicação, a Unidade procederá o "saque" do valor, e creditará no Conta
            Pecúlio do detento
            (este processo poderá demorar alguns dias, a depender dos Correios)
        </p>
    </div>
</div>
