<div class="row">
    <div class="col border">
        <h2 class="fw-bold text-center mb-3 mt-2">Vestuário dos Visitantes</h2>

        <h3 class="my-4">Instruções de Adequamento</h3>
        <h4 class="my-4">Permitido</h4>

        <ul>
            <li>
                CAMISETA: larga e comprimento estar abaixo da linha do quadril,
                nas cores VERMELHO ou VERDE
            </li>
            <li>
                CALÇA: tipo Legging, nas cores VERMELHO ou VERDE
            </li>
            <li>
                SAIAS: compridas, abaixo do nivel do joelho, nas cores VERMELHO ou VERDE
            </li>
            <li>
                SUTIÃS/TOP: sem bojo em cores claras, sendo PROIBIDO: enchimentos,
                forro e partes metálicas;
            </li>
            <li>
                CALÇADOS: somente na cor BRANCA tipo HAVAIANAS, sendo PROIBIDO: estampas;
            </li>
            <li>
                BLUSAS: nas cores VERMELHO, ROSA e VERDE, tipo moletom, sendo PROIBIDO: estampa, zíper, bolso e capuz e nos tecidos de
                lã e linho;
            </li>
            <li>
                CRIANÇAS ATÉ 3 ANOS: será permitido (01) uma troca de roupa, devendo ser nas cores VERMELHO, ROSA e VERDE.
            </li>
        </ul>

        <h4>Proibido</h4>

        <ul>
            <li>
                BERMUDAS: de qualquer cor e tipo;
            </li>
            <li>
                ACESSÓRIOS: ANÉIS, BRINCOS, RELÓGIOS, JÓIAS, ÓCULOS ESCUROS, TIARAS, ARCOS, PRENDEDORES DE CABELO METÁLICO OU COM
                SUPORTE DE FERRO, “PIRCING”
            </li>
            <li>
                PERUCA, APLIQUES CAPILARES e KANEKALON;
            </li>
            <li>
                UNHAS POSTIÇAS;
            </li>
            <li>
                QUALQUER TIPO DE VESTUÁRIO INADEQUADO AO AMBIENTE.
            </li>
        </ul>

        <div class="border border-warning p-3 mb-5 mt-5">
            Obs: Absorventes higiênicos são fornecidos pela unidade e
            substituídos pelo responsável durante a revista.
        </div>

        <h2 class="text-danger">(atualizar info e layout)</h2>
    </div>
</div>
