<div class="row">
    <div class="col border">
        <h1>Vestuário dos Visitantes</h1>
        <h2 class="text-danger">(atualizar info e layout)</h2>
        <h3>Instruções de Adequamento</h3>
        <h4>Permitido Apenas: </h4>
        Será PERMITIDO o acesso de Visitantes nesta Unidade Prisional quando estiverem utilizando:

        <ul>
            <li>
                CAMISETA: nas cores VERMELHO, ROSA e VERDE, sendo PROIBIDO: estampas, gola tipo polo, regata e decote, devendo o
                comprimento estar abaixo da linha do quadril
            </li>
            <li>
                CALÇA: nas cores VERMELHO, ROSA e VERDE, tipo Legging, Moletom, Malha e Viscose, sendo PROIBIDO: estampas, botão
                metálico, zíper, bolso, cordão e do tipo JEANS
            </li>
            <li>
                SAIAS: nas cores VERMELHO, ROSA e VERDE, Somente para mulheres e deve estar no nível do joelho, sendo PROIBIDO:
                estampa.
            </li>
            <li>
                SUTIÃS/TOP: sem bojo em cores claras, sendo PROIBIDO: enchimentos, forro e partes metálicas;
            </li>
            <li>
                CALÇADOS: somente na cor BRANCA tipo HAVAIANAS, sendo PROIBIDO: estampas;
            </li>
            <li>
                BLUSAS: nas cores VERMELHO, ROSA e VERDE, tipo moletom, sendo PROIBIDO: estampa, zíper, bolso e capuz e nos tecidos de
                lã e linho;
            </li>
            <li>
                CRIANÇAS ATÉ 3 ANOS: será permitido (01) uma troca de roupa, devendo ser nas cores VERMELHO, ROSA e VERDE.
            </li>
        </ul>

        <h3>
            Fica PROIBIDO o acesso de Visitantes nesta Unidade Prisional quando estiverem utilizando:
        </h3>
        <ul>
            <li>
                BERMUDAS: de qualquer cor e tipo;
            </li>
            <li>
                ACESSÓRIOS: ANÉIS, BRINCOS, RELÓGIOS, JÓIAS, ÓCULOS ESCUROS, TIARAS, ARCOS, PRENDEDORES DE CABELO METÁLICO OU COM
                SUPORTE DE FERRO, “PIRCING”
            </li>
            <li>
                PERUCA, APLIQUES CAPILARES e KANEKALON;
            </li>
            <li>
                UNHAS POSTIÇAS;
            </li>
            <li>
                QUALQUER TIPO DE VESTUÁRIO INADEQUADO AO AMBIENTE.
            </li>
        </ul>


    </div>
</div>
