<div class="row p-1 pb-4 mt-2 border-top border-dark">
    <div class="col">
        <h2 class="fw-bold text-center mb-3 mt-2">Visitação Presencial</h2>
        <h5 class="mt-4">Informações principais referente a entrada dos visitantes na unidade.</h5>
        <h5 class="my-4 pb-3 border-bottom">Com base na Resolução SAP-86 e Resolução SAP-183.</h5>
        <p>
            Será obrigatória a higienização das mãos com álcool 70% e passagem
            por mecanismos de higienização dos calçados.
        </p>
        <p>
            O visitante que fizer o uso de algum tipo de prótese, pinos, aparelho
            ortodôntico, DIU ou possuam algum tipo de projetil ou corpo estranho
            devem apresentar laudo médico.
        </p>
        <p>
            Não será permitido o ingresso de qualquer tipo de material (alimentos,
            material de higiene, etc.).
        </p>
        <p>
            Obrigatório o uso de máscara durante todo o período de permanência
            na unidade prisional.
        </p>
        <p>
            É permitido somente o uso de máscara de tecido sem metal,
            sem estampa de agremiações ou apologia.
        </p>
        <p>
            As visitas íntimas permanecem suspensas.
        </p>
        <p>
            Proibido trocar de roupa ou máscara, deixar roupa ou máscara
            para o preso no decorrer da visita.
        </p>
        <p>
            Não serão permitidos quaisquer contatos físicos entre presos
            e visitantes, estando sujeito à suspensão, caso seja descumprida
            tal norma, ou seja, tem que manter o distanciamento social.
        </p>
        <p>
            As visitas serão por um período máximo de 2 (duas) horas, das 9h
            às 11h e das 13h às 15h00.
        </p>
        <p>
            Serão seguidas as mesmas regras vigentes anteriormente para a
            retomada gradual e controlada das visitas presenciais, com
            visitação restrita a apenas 01 pessoa por reeducando, devidamente
            cadastrada no rol de visitas.
        </p>
        <p>
            A visitação está limitada a maiores de 18 anos, sendo que pessoas
            com 60 anos ou mais, ou integrantes de grupo de risco poderão
            entrar somente se apresentarem comprovante de esquema vacinal
            completo para Covid-19 e após o período de, ao menos, 20 dias da
            aplicação da segunda dose, ou quando for o caso, da dose única.
        </p>
        <p>
            Para as que tiverem entre 18 e 59, não haverá exigência de comprovante
            de vacinação.
        </p>
        <p>
            O visitante deverá portar somente a carterinha de visitante, o
            documento de identificação com foto e o comprovante de vacinação
            contra a Covid-19, se for o caso, sendo vedada a entrada de quaisquer
            outros objetos.
        </p>


    </div>
</div>
