@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    overflow: inherit;
    padding-left: 0;
}

ul li {
    line-height: 1.6;
    font-size: 0.9em;
    margin-bottom: 1.5px;
}

#menu a {
    color: #838487;
    text-decoration: none;
    font-family: 'Open Sans';
    margin-right: 5px;
}

#menu a:hover {
    color: rgb(0, 0, 0) !important;
    transition: all 0.1s ease-in;
    transition-delay: 0.1s;
    font-weight: 400;
}
#menu li:hover i {
    color: #ccc !important;
    transition: all 0.1s ease-in;
    transition-delay: 0.1s;
}




.text-color1 {
    color: #41b3a3 !important;
}
.text-color2 {
    color: #e27d60 !important;
}
.text-color3 {
    color: #c38d9e !important;
}

@media (min-width: 311px) and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    nav h2 {
        font-size: inherit;
    }
    nav img {
        width: 50px;
    }
}

@media (min-width: 0px) and (max-width: 310px) {
    body {
        font-size: inherit;
    }
    nav h2 {
        font-size: inherit;
    }
    nav img {
        width: 40px;
    }

    .text-center-310 {
        text-align: center !important;
    }
}

