@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    overflow: inherit;
    padding: 0;
}

ul li {
    line-height: 1.6;
    padding: 1.4px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans';
}

#menu a:hover {
    color: rgb(18, 129, 202);
    transition: all 0.5s ease-in;
    transition-delay: 0.1s;
    text-decoration: underline;
}

.text-color1 {
    color: #41b3a3 !important;
}
.text-color2 {
    color: #E27D60 !important;
}
.text-color3 {
    color: #c38d9e !important;
}

@media (min-width: 100.98px) and (max-width: 575.98px) {
    body {
        font-size: 0.9em;
    }
    #menu {
        color: black;
        text-decoration: none;
        font-family: 'Open Sans';
        padding: 0;
        font-size: 0.7em;
    }
    #menu i{
        color: black;
        padding: 1px;
        font-size: 1.1em;
    }
    nav h2 {
        font-size: inherit;
    }
    nav img {
        width: 50px;
    }
}
