@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    overflow: inherit;
    padding-left: 0;
}

ul li {
    line-height: 1.6;
    font-size: 0.9em;
    margin-bottom: 1.5px;
}

#menu a {
    color: #838487;
    text-decoration: none;
    font-family: 'Open Sans';
    margin-right: 5px;
}

#menu a:hover {
    color: rgb(0, 0, 0) !important;
    transition: all 0.1s ease-in;
    transition-delay: 0.1s;
    font-weight: 400;
}
#menu li:hover i {
    color: #ccc !important;
    transition: all 0.1s ease-in;
    transition-delay: 0.1s;
}





/* Style when reduces the media size */
@media (min-width: 311px) and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    nav h2 {
        font-size: inherit;
    }
    nav img {
        width: 110px;
    }
    .border-none {
        border: none !important;
    }

    .border-bottom-1 {
        border-bottom: solid 1px black;
    }
}

/* Style when reduces the media size */
@media (min-width: 0px) and (max-width: 310px) {
    body {
        font-size: 0.9em;
    }
    nav h2 {
        font-size: inherit;
    }
    nav img {
        width: 90px;
    }
    p {
        font-size: 0.9em;
    }
    .text-center-310 {
        text-align: center !important;
    }

    .font-size-07 {
        font-size: 0.7em;
    }

    .border-none {
        border: none !important;
    }
}


/* Pallet colors 1 text and background*/
.color-p1c1 {
    color: #264653 !important;
}
.color-p1c2 {
    color: #2a9d8f !important;
}
.color-p1c3 {
    color: #e9c46a !important;
}
.color-p1c4 {
    color: #f4a261 !important;
}
.color-p1c5 {
    color: #e76f51 !important;
}

.color-p1b1 {
    background-color: #264653 !important;
}
.color-p1b2 {
    background-color: #2a9d8f !important;
}
.color-p1b3 {
    background-color: #e9c46a !important;
}
.color-p1b4 {
    background-color: #f4a261 !important;
}
.color-p1b5 {
    background-color: #e76f51 !important;
}
.border-p1b2 {
    border-color: #a8dadc !important;
}
/* ********* */


/* Pallet colors 2 text and background*/
.color-p2c1 {
    color: #e63946 !important;
}
.color-p2c2 {
    color: #f1faee !important;
}
.color-p2c3 {
    color: #a8dadc !important;
}
.color-p2c4 {
    color: #457b9d !important;
}
.color-p2c5 {
    color: #1d3557 !important;
}

.color-p2b1 {
    background-color: #e63946 !important;
}
.color-p2b2 {
    background-color: #f1faee !important;
}
.color-p2b3 {
    background-color: #a8dadc !important;
}
.color-p2b4 {
    background-color: #457b9d !important;
}
.color-p2b5 {
    background-color: #1d3557 !important;
}
/* ********* */

.color-p3c2 {
    color: #8d99ae !important;
}
.color-p3c3 {
    color: #edf2f4 !important;
}

.color-i1{
    color: #ea7070 ;
}
.color-i2{
    color: #41b6e6 ;
}
.color-i3{
    color: #ffb549 ;
}
.color-i4{
    color: #ff585d ;
}
.color-i5{
    color: #001871 ;
}
.color-i6{
    color: #2e94b9 ;
}
.color-i7{
    color: #eec60a ;
}
.color-i8{
    color: #f07810 ;
}
.color-i9{
    color: #c50d66 ;
}
.color-i10{
    color: #f07810 ;
}
.color-i11{
    color: #d25565 ;
}
.color-i12{
    color: #f0b775 ;
}
.color-i13{
    color: #457b9d ;
}







