<%- include('base/head'); %>
    <!--HEAD/LINKS-->
    <%- include('base/header'); %>
        <!--HEADER-->
        <div class="container">
            <div class="row">
                <div class="col-3 border">
                    <%- include('base/menu'); %>
                        <!--SIDEBAR LEFT-->
                </div>
                <div class="col-9 border">
                    <!--CONTENT-->
                    <h1>CONTENT HERE</h1>
                    <H3>Consulta Status com CPF</H3>
                    <!--END CONTENT-->
                </div>

            </div>
        </div>
        <%- include('base/footer'); %>
            <!--FOOTER-->
