<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>
    <%- include('../base/header'); %>
        <div class="container">
            <div class="row mb-5 mt-2">
                
                <div class="col col-sm-auto ">
                    <%- include('admmenu') %>
                </div>

                <div class="col border">
                    <!--CONTENT-->
                    <h1>ADMIN PAGE</h1>
                    <!--  SINGLE FILE -->
                    <form action="/user/admin/upload" enctype="multipart/form-data" method="POST">
                        <input type="file" name="file" />
                        <input type="submit" value="Upload a file" />
                    </form>
                </div>
            </div>

            <!--END CONTENT-->
            <a href="/user/logout">logout</a>
        </div>

        <%- include('../base/footer'); %>
            <!--FOOTER-->
</body>

</html>
