<div class="row">
    <div class="col border">
        <ul>
            <li>
                Usuários
                <ul>
                    <li>
                        <i class="material-icons-outlined">
                            person_add
                        </i>
                        Novo Usuário
                    </li>
                    <li>
                        <i class="material-icons-outlined">
                            person_search
                        </i>
                        Listar
                    </li>
                </ul>
            </li>
            <li>
                Visitas
                <ul>
                    <li>
                        <i class="material-icons-outlined">
                            upload_file
                        </i>
                        Upload
                    </li>
                    <li>
                        <i class="material-icons-outlined">
                            list
                        </i>
                        Listar
                    </li>
                </ul>
            </li>
            <li>
                <i class="material-icons-outlined">
                    bar_chart
                </i>
                Stats
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="/user">login</a>
    </div>
</div>
