<div class="row">
    <div class="col">
        <ul>
            <li>Criar Usuario</li>
            <li>Upload Visitas</li>
            <li>outro</li>
            <li>outro</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="/user">login</a>
    </div>
</div>
