<div class="row ">
    <div class="col border">
        <ul class="p-2">
            <li class="">
                Usuários
                <ul class="">
                    <li class="pt-2">
                        <i class="align-middle material-icons-outlined text-info me-2">
                            person_add
                        </i>
                        <a href="#">Novo Usuário</a>
                    </li>
                    <li>
                        <i class="align-middle material-icons-outlined text-danger me-2">
                            person_search
                        </i>
                        <a href="#">Listar</a>
                    </li>
                </ul>
            </li>

            <li class="mt-4">
                Visitas
                <ul>
                    <li class="pt-2">
                        <i class="align-middle material-icons-outlined me-2 text-warning">
                            upload_file
                        </i>
                        Upload
                    </li>
                    <li>
                        <i class="align-middle material-icons-outlined me-2 text-success">
                            list
                        </i>
                        Listar
                    </li>
                </ul>
            </li>
            <li>
                <i class="align-middle material-icons-outlined me-2 text-dark">
                    bar_chart
                </i>
                Stats
            </li>
        </ul>
    </div>
</div>

<div class="row border">
    <div class="col">
        <a href="/user">login</a>
    </div>
</div>
